.cell {
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    border-style: outset;
    text-align: center;
    line-height: 1rem;
}

.cell > * {
    background: transparent;
    height: 100%;
    width: 100%;
}

.cell:hover {
    background: rgba(128, 128, 128, 0.3);
}

.cell:active {
    border-style: inset;
}

.cell.unselected {
    background: rgb(201, 201, 201);
}

.cell.selected {
    background-color: rgb(138, 138, 138);
}

.cell.flagged {
    background-color: rgb(91, 91, 233);
}

.cell.bombed {
    background-color: transparent;
}