.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid.easy .grid-row > * {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}

.grid.medium .grid-row > * {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

.grid.hard .grid-row > * {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
}

@media (max-width: 530px) {
    .grid.easy .grid-row > *, .grid.medium .grid-row > * {
        height: 5vmin !important;
        width: 5vmin !important;
        line-height: 5vmin !important;
    }
    
    .grid.hard .grid-row > * {
        height: 4vmin !important;
        width: 4vmin !important;
        line-height: 4vmin !important;
    }
}