.overlay {
    background: transparent;
    pointer-events: auto;
    height: 80vh;
}

.overlay.active > .overlay-children {
    pointer-events: none;
}

.overlay-render > * {
    width: 200px;
    max-height: 100px;
    
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(1, 1, 1, 0.7);
    border-radius: 5px;

    text-align: center;
    position: absolute;

    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -200px;

    padding: 1.5rem 0;
}